body {
    background: #333333;
    font-family: tahoma;
    text-align: justify;
    overflow: hidden;

}

a {
    color: #ffffff !important;
}

a:hover {
    text-decoration: none;
    color: #3CDB85 !important;
}

img {
    vertical-align: middle !important;

    width: 350px !important;
}

#about {
    padding-top: 98px;
    padding-bottom: 101px;
}

#about .triangle-right {
    margin-top: 95px;
    width: 0;
    height: 0;
    border-top: 259px solid transparent;
    border-left: 470px solid #3CDB85;
    border-bottom: 259px solid transparent;


}

#about .triangle-right img {
    position: absolute;
    left: -1px;
    top: 81px;
    width: 74%;

}

.fa-play {
    font-size: 100px;

}


#about .p-first {
    margin-bottom: 30px;
}


#about h2 {
    margin-bottom: 47px;
    margin-top: 12px;

}


#about .social-link-text {
    margin-top: 50px;
    margin-bottom: 25px;

}

#about .about-link {
    padding-left: 0px;
}

#about .about-link li {
    display: inline-block;
}

#about .about-link li a i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    border: 1px solid #3CDB85;
    margin-right: 10px;
    font-size: 22px;
    color: #3CDB85;
    transition: all .3s;

}


#about .about-link li a i:hover {
    color: #222222;
    background: #3CDB85;
    border-color: #3CDB85;

}


#about .about-img {
    position: relative;
}

#about .about-img {
    position: relative;

}

.color-3 {
    color: #3CDB85;
}


.text-white {
    color: #ffffff;
}


p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: #3CDB85;
}

.center {
    margin: auto !important;
    width: 75%;
    padding: 10%;
}
